@import '../index.scss';

header{
    background-color: #121212;
    padding: 10px 40px;
    height: 100%;
    display:flex;
    align-items: flex-end;
    justify-content:flex-end;
}

header > .title{
    margin-right:auto;
    font-family: Helvetica, sans-serif;
    font-size:20px;
}

header > .datetime{
    font-size:12px;
}