$pt-intent-primary: blue;

@import '~flexlayout-react/style/dark.css';
@import "~@blueprintjs/core/src/blueprint.scss";

html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

#root {
    width: 100%;
    height: 100%;
}