$pt-intent-primary: black;

@import '~flexlayout-react/style/dark.css';
@import "~@blueprintjs/core/src/blueprint.scss";

html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

#root {
    width: 100%;
    height: 100%;
}

.flexlayout__tabset-selected {
    background: #333333;
  }
  
.flexlayout__tabset-maximized {
    background: #4d4d4d;
}